<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Chef's Snacks</h1>
      <p class="lead text-muted">Chef's Snacks é uma aplicação demonstrativa que visa mostrar técnicas de arquitetura,
        desenvolvimento e distribuição de software utilizando ferramentas como .NET Core, Angular 7, Bootstrap, Docker,
        Nginx e Jenkins.</p>
      <p class="lead text-muted">A ideia é criar uma aplicação web para uma startup do ramo de
        alimentos que precisa gerir seu negócio. A especialidade é a venda de lanches, de modo que alguns lanches são
        opções de cardápio e outros podem conter ingredientes personalizados.</p>
      <hr />
    </div>
  </section>

  <div class="cmenu">
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let snack of snacks">
          <div class="card mb-3 box-shadow">
            <img class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x180]" style="height: 180px; width: 100%; display: block;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16ad1edd23a%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16ad1edd23a%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">{{snack.Name}}</p>
              <p><small class="text-muted" *ngFor="let item of snack.Ingredients">{{item.Name}}, </small></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"
                  *ngIf="snack.Price && snack.Price!=null">{{snack.Price.Price  |  currency }}</small>
                <div class="btn-group" *ngIf="!customSnack">
                  <button type="button" (click)="save()" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 text-center" style="margin-top:40px; margin-bottom: 40px;">
          <button (click)="customSnack = !customSnack" class="btn btn-primary btn-lg btn-block text-center"
            href="#">Personalize seu Lanche</button>
        </div>
      </div>
      <div class="card col-md-8 offset-md-2" *ngIf="customSnack">
        <div class="card-body">
          <h5 class="card-title">Personalizar seu Lanche</h5>
          <div class="row">
            <div class="col-md-12" style="margin-top:40px; margin-bottom: 40px;">

              <h5>PROMOÇÕES</h5>
              <span class="badge badge-primary">PROMOÇÃO EXTRA DE CARNE: Compre 3 e pague 2</span><br />
              <span class="badge badge-warning">PROMOÇÃO EXTRA DE QUEIJO: Compre 3 e pague 2</span>
              <span class="badge badge-success">PROMOÇÃO VIVA MAIS: Compre 1 lanche light e ganhe 10% de desconto</span>
            </div>
          </div>
          <div class="row" *ngIf="ingredients && ingredients.length > 0">
            <div class="col-md-12">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Valor Unitário</th>
                    <th scope="col">SubTotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ingredients;">
                    <td><input type="number" pattern="[0-9]*" (keyup)="onKey($event, item.Id, item.Price)" value="0"
                        class="form-control"></td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price |  currency}}</td>
                    <td>{{item.SubTotal |  currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right" style="margin-top:40px; margin-bottom: 40px;" *ngIf="showCalc">
              <button class="btn btn-secondary text-center" (click)="calc()">Calcular valores</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center" style="margin-top:40px; margin-bottom: 40px;" *ngIf="showTotal">
              <h4 class="text-center text-uppercase">Total: {{total |  currency}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="margin-top:40px; margin-bottom: 40px;"
              *ngIf="showTotal">
              <button class="btn btn-primary btn-lg btn-block text-center" (click)="save()">Fazer pedido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>